@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Smooth scrolling for all elements */
* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
}
